@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: scale(1);
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.fade-slide {
  opacity: 0;
  animation: fadeSlideUp 0.6s ease-out forwards;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}

.delay-4s {
  animation-delay: 4s;
}

.delay-5s {
  animation-delay: 5s;
}

.delay-6s {
  animation-delay: 6s;
}

* {
  font-family: "Inter", sans-serif !important;
}

body {
  overflow-x: hidden;
}

img,
.row,
.container,
.container-fluid {
  max-width: 100%;
  overflow-x: hidden;
}
